/* Tablets */
@media (max-width: 1024px) {
    .container {
        padding: var(--espacio-sm);
    }
}

/* Móviles */
@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }
    
    .nav-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--color-morado);
        flex-direction: column;
        padding: var(--espacio-sm);
        box-shadow: var(--sombra-fuerte);
        display: none;
    }
    
    .nav-menu.show {
        display: flex;
    }
    
    .nav-link {
        padding: var(--espacio-sm);
        justify-content: flex-start;
    }
}